ProyectoTOO/.vs/
ProyectoTOOconClasesGenerales/.vs/ProyectoTOO/v15/sqlite3/storage.ide-wal
ProyectoTOOconClasesGenerales/.vs/ProyectoTOO/v15/Server/sqlite3/storage.ide
ProyectoTOOconClasesGenerales/.vs/ProyectoTOO/v15/Server/sqlite3/db.lock
ProyectoTOOconClasesGenerales/.vs/ProyectoTOO/v15/Server/sqlite3/storage.ide-wal
ProyectoTOOconClasesGenerales/.vs/ProyectoTOO/v15/Server/sqlite3/storage.ide-shm
ProyectoTOOconClasesGenerales/.vs/ProyectoTOO/v15/sqlite3/storage.ide-shm
ProyectoTOOconClasesGenerales/.vs/ProyectoTOO/v15/sqlite3/db.lock
